@using BibleCore.Service.Data
@using BibleWebApi.Models
@model ExerciseModel
@{
    ViewData["Title"] = "Study";
}
<div class="row">
    <div class="col-auto pe-0 d-print-none">
        <a asp-controller="Exercise" asp-action="Index" asp-route-wordListId="@Model.WordListId" asp-route-range="@Model.Range" class="btn btn-outline-dark"><i class="bi bi-arrow-left"></i> Back</a>
    </div>
    <div class="col-auto pe-0">
        <h2>Study - @Model.Name / @Model.WordListDescription</h2>
    </div>
    <div class="col-auto pe-0 d-print-none">
        <a asp-controller="Exercise" asp-action="Worksheet" asp-route-name="@Model.Name" asp-route-wordListId="@Model.WordListId" asp-route-range="@Model.Range" class="btn btn-outline-dark">Worksheet</a>
        <a asp-controller="Exercise" asp-action="Start" asp-route-name="@Model.Name" asp-route-wordListId="@Model.WordListId" asp-route-range="@Model.Range" class="btn btn-outline-dark">Practice</a>
    </div>
</div>
<table>
    <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Details</th>
    </tr>
    @foreach (var question in Model.Questions)
    {
        <tr>
            <td class="serif">
                @question.Question
            </td>
            <td class="serif">
                @foreach (var answer in question.Answers)
                {
                    if (answer.IsCorrect)
                    {
                        @answer.Answer
                    }
                }
            </td>
            <td class="serif">
                @{
                    bool isFirst = true;
                    foreach (var detail in question.Detail)
                    {
                        if (!string.IsNullOrEmpty(detail))
                        {
                            if (isFirst)
                            {
                                isFirst = false;
                            }
                            else
                            {
                                <br />
                            }
                            @detail
                        }
                    }
                }
            </td>
        </tr>
    }
</table>