@using BibleCore.Service.Data
@using BibleWebApi.Models
@model ExerciseModel
@{
    ViewData["Title"] = "Study";
}
<div class="row">
    <div class="col-auto pe-0 d-print-none">
        <a asp-controller="Exercise" asp-action="Index" asp-route-wordListId="@Model.WordListId" asp-route-range="@Model.Range" class="btn btn-outline-dark"><i class="bi bi-arrow-left"></i> Back</a>
    </div>
    <div class="col-auto pe-0">
        <h2>Study - @Model.Name / @Model.WordListDescription</h2>
    </div>
    <div class="col-auto pe-0 d-print-none">
        <a asp-controller="Exercise" asp-action="Start" asp-route-name="@Model.Name" asp-route-wordListId="@Model.WordListId" asp-route-range="@Model.Range" class="btn btn-primary">Practice</a>
        <a asp-controller="Exercise" asp-action="Worksheet" asp-route-name="@Model.Name" asp-route-wordListId="@Model.WordListId" asp-route-range="@Model.Range" class="btn btn-primary">Worksheet</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="col-3">Question</th>
            <th class="col-3">Answer</th>
            <th class="col-6">Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model.Questions)
        {
            <tr>
                <td class="serif">
                    <a asp-controller="Lookup" asp-action="Index" asp-route-strongs="@question.StrongsNumber" asp-route-gk="@question.GkNumber" class="link-underline link-dark link-underline-opacity-0 link-underline-opacity-100-hover" target="_blank">@question.Question (@question.StrongsNumber)</a>
                </td>
                <td class="serif">
                    @foreach (var answer in question.Answers)
                    {
                        if (answer.IsCorrect)
                        {
                            @answer.Answer
                        }
                    }
                </td>
                <td class="serif">
                    @{
                        bool isFirst = true;
                        foreach (var detail in question.Detail)
                        {
                            if (!string.IsNullOrEmpty(detail))
                            {
                                if (isFirst)
                                {
                                    isFirst = false;
                                }
                                else
                                {
                                    <br />
                                }
                                @detail
                            }
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>