@using BibleCore.Service.Data
@using BibleWebApi.Models
@model ExerciseModel
@{
    ViewData["Title"] = "Exercise";
}
<h2>Practice - @Model.Data.CategoryName / @Model.Data.Name (<a asp-controller="Exercise" asp-action="Study" asp-route-categoryName="@Model.Data.CategoryName" asp-route-name="@Model.Data.Name">Study</a>)</h2>
@using (Html.BeginForm("Update", "Exercise", FormMethod.Post, null))
{
    foreach (var question in Model.Data.Questions)
    {
        <hr class="p-0 m-0"/>
        <div class="row align-items-center" id="word-@question.Sequence">
            <div class="col-12 col-md-3 col-lg-2" style="font-family: 'Times New Roman', Times, serif">
                @question.Question
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                @foreach (var answer in question.Answers)
                {
                    <input type="submit" value="@answer.Answer" asp-controller="Exercise" asp-action="Update" asp-route-word="@question.Question" asp-route-option="@answer.Answer" class="btn @answer.BootstrapButtonClass my-1 submit" onclick="maintainscrollposition()" />
                }
            </div>
            <div class="col-12 col-md-3 col-lg-4" style="font-family: 'Times New Roman', Times, serif">
                @if (question.IsCorrect)
                {
                    bool isFirst = true;
                    foreach (var detail in question.Detail)
                    {
                        if (!string.IsNullOrEmpty(detail))
                        {
                            if (isFirst)
                            {
                                isFirst = false;
                            }
                            else
                            {
                                <br />
                            }
                            @detail
                        }
                    }
                }
            </div>
        </div>
    }
    <input type="hidden" asp-for="@Model.Data" />
}
@section Scripts
{
    <script type="text/javascript" language="javascript">
        function maintainscrollposition() {
            var y = window.scrollY
            console.log(y);
            localStorage.setItem('topposition', y);
        }

        $(function () {
            var top = localStorage.getItem('topposition');
            window.scroll(0, top);
            localStorage.removeItem('topposition');
        });
    </script>
}