@using BibleCore.Service.Data
@using BibleWebApi.Models
@model ExerciseModel
@{
    ViewData["Title"] = "Exercise";
}
<h2>Exercise</h2>
@using (Html.BeginForm("Update", "Exercise", FormMethod.Post, null))
{
    foreach (var word in Model.Data.Words)
    {
        <div class="row my-2" id="word-@word.Sequence">
            <div class="col-12 col-md-2" style="font-family: 'Times New Roman', Times, serif">
                @word.Word
            </div>
            <div class="col">
                @foreach (var option in word.Options)
                {
                    <input type="submit" value="@option.Option" asp-controller="Exercise" asp-action="Update" asp-route-word="@word.Word" asp-route-option="@option.Option" class="btn @option.BootstrapButtonClass submit" onclick="maintainscrollposition()" />
                }
            </div>
        </div>
    }
    <input type="hidden" asp-for="@Model.Data" />
}
@section Scripts
{
    <script type="text/javascript" language="javascript">
        function maintainscrollposition() {
            var y = window.scrollY
            console.log(y);
            localStorage.setItem('topposition', y);
        }

        $(function () {
            var top = localStorage.getItem('topposition');
            window.scroll(0, top);
            localStorage.removeItem('topposition');
        });
    </script>
}