@using BibleCore.Service.Data
@using BibleWebApi.Models
@model ExerciseModel
@{
    ViewData["Title"] = "Study";
}
<div class="row">
    <div class="col-auto pe-0 d-print-none">
        <a asp-controller="Exercise" asp-action="Index" asp-route-wordListId="@Model.WordListId" asp-route-range="@Model.Range" class="btn btn-outline-dark"><i class="bi bi-arrow-left"></i></a>
    </div>
    <div class="col-auto pe-0">
        <h2>Study - @Model.Name / @Model.WordListDescription</h2>
    </div>
    <div class="col-auto pe-0 d-print-none">
        <a asp-controller="Exercise" asp-action="Start" asp-route-name="@Model.Name" asp-route-wordListId="@Model.WordListId" asp-route-range="@Model.Range" class="btn btn-outline-dark">Practice</a>
    </div>
</div>
@foreach (var question in Model.Questions)
{
    <hr class="p-0 m-0" />
    <div class="row align-items-center" id="word-@question.Sequence">
        <div class="col serif">
            @question.Question
        </div>
        <div class="col serif">
            @foreach (var answer in question.Answers)
            {
                if (answer.IsCorrect)
                {
                    @answer.Answer
                }
            }
        </div>
        <div class="col serif">
            @{
                bool isFirst = true;
                foreach (var detail in question.Detail)
                {
                    if (!string.IsNullOrEmpty(detail))
                    {
                        if (isFirst)
                        {
                            isFirst = false;
                        }
                        else
                        {
                            <br />
                        }
                        @detail
                    }
                }
            }
        </div>
    </div>
}