@page
@model BrowseModel
@{
    ViewData["Title"] = "Browse";
}
<h2>Read</h2>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-primary" role="alert">
        @Model.Message
    </div>
}
<form method="post">
    <div class="row">
        <div class="col">
            <button class="btn">Previous</button>
            <button class="btn">Extend</button>
            <input id="rangeExpression" type="text" name="rangeExpression" class="" value="@Model.RangeExpression" />
            <button class="btn">Extend</button>
            <button class="btn">Next</button>
        </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit" />
</form>
@if (Model.TextData != null)
{
    <hr />
    foreach (var verse in Model.TextData.Verses)
    {
        <p class="fs-5" style="font-family: 'Times New Roman', Times, serif">
            <span>@verse.Verse</span>
            @foreach (var word in verse.Words)
            {
                <a href="@($"/lookup/{word.Strongs}")" class="link-underline link-dark link-underline-opacity-0 link-underline-opacity-100-hover">@word.Word</a>
                @*                 <span data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">@word.Word</span>
    *@              }
        </p>
    }
}
@section Scripts
{
    <script type="text/javascript" language="javascript">
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
}