@page
@model LookupModel
@{
    ViewData["Title"] = "Lookup";
}
<div>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-primary" role="alert">
            @Model.Message
        </div>        
    }
    <form method="post" class="mb-4" style="width: 25rem">
        <fieldset>
            <legend>Lookup</legend>
            <div class="row mb-3">
                <label for="strongs" class="col-5 col-form-label">Strong's number:</label>
                <div class="col-7">
                    <div class="input-group">
                        <span class="input-group-text">G</span>
                        <input id="strongs" type="text" name="Strongs" class="form-control" value="@Model.Strongs" />
                    </div>
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary submit" />
        </fieldset>
    </form>
    @if (Model.LexemeData != null)
    {
        <div class="card">
            <h3 class="card-header text-center" style="font-family: 'Times New Roman', Times, serif">
                @Model.LexemeData?.Lemma
            </h3>
            <div class="card-body row">
                <div class="col">
                    @if (!string.IsNullOrEmpty(Model.LexemeData?.FullCitationForm))
                    {
                        <h5 class="card-text" style="font-family: 'Times New Roman', Times, serif">@Model.LexemeData?.FullCitationForm</h5>
                    }
                    <p class="card-text">@Model.LexemeData?.Gloss</p>
                </div>
                <div class="col">
                    <p class="card-text">Part of speech: @Model.LexemeData?.PartOfSpeech</p>
                    <p class="card-text">@($"Strong's number: G{string.Join(',', Model.LexemeData.Strongs.Select(s => s.ToString()).ToArray())}")</p>
                    <p class="card-text">@($"GK number: GK{string.Join(',', Model.LexemeData.Gk.Select(s => s.ToString()).ToArray())}")</p>
                </div>
            </div>
            @foreach(var form in Model.LexemeData.Forms)
            {
                <hr class="m-0 p-0"/>
                <div class="card-body row ">
                    <div class="card-text col-12 col-md-4">
                        <h5 style="font-family: 'Times New Roman', Times, serif">@form.Word</h5>
                        <p>@form.Inflection.Case
                        @form.Inflection.Degree
                        @form.Inflection.Gender
                        @form.Inflection.Mood
                        @form.Inflection.Number
                        @form.Inflection.Person
                        @form.Inflection.Tense
                        @form.Inflection.Voice</p>
                    </div>
                    <div class="col">
                        <div class="row">
                        @foreach (var bookmark in form.Bookmarks)
                        {
                            <div class="col-4 col-lg-2 text-nowrap">
                                @bookmark.FormattedBookmark
                            </div>
                        }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>