@using BibleCore.Service.Data
@using BibleWebApi.Models
@model BrowseModel
@{
    ViewData["Title"] = "Browse";
}
<h2>Read</h2>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-primary" role="alert">
        @Model.Message
    </div>
}
@using (Html.BeginForm("Update", "Browse", FormMethod.Post, null))
{
    <div class="row">
        <div class="col">
            <button class="btn">Previous</button>
            <button class="btn">Extend</button>
            <input id="rangeExpression" type="text" name="rangeExpression" class="" value="@Model.RangeExpression" />
            <button class="btn">Extend</button>
            <button class="btn">Next</button>
        </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit" />
}
@if (Model.TextData != null)
{
    <hr />

    var currentBook = (BookData?)null;
    var currentChapter = (byte)0;

    foreach (var verse in Model.TextData.Verses)
    {
        if (currentBook == null || currentBook != verse.Bookmark.Book)
        {
            currentBook = verse.Bookmark.Book;
            currentChapter = 0;

            <h5>@verse.Bookmark.FormattedBook</h5>
        }
        if (currentChapter == 0 || currentChapter != verse.Bookmark.Chapter)
        {
            currentChapter = verse.Bookmark.Chapter;

            <h6>Chapter @currentChapter</h6>
        }
        <p class="fs-5" style="font-family: 'Times New Roman', Times, serif">
            <span>@verse.Bookmark.Verse</span>
            @foreach (var word in verse.Words)
            {
                <a asp-controller="Lookup" asp-action="Index" asp-route-id="@word.Strongs" class="link-underline link-dark link-underline-opacity-0 link-underline-opacity-100-hover">@word.Word</a>
            }
        </p>
    }
}
@section Scripts
{
    <script type="text/javascript" language="javascript">
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
}