@using BibleCore.Service.Data
@using BibleWebApi.Models
@model BrowseModel
@{
    ViewData["Title"] = "Browse";
}
<h2>Read</h2>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-primary" role="alert">
        @Model.Message
    </div>
}
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="row mb-2">
        <div class="col-auto">
            <input type="submit" asp-controller="Browse" asp-action="Update" hidden />
            <button type="submit" asp-controller="Browse" asp-action="ExtendPrevious" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i></button>
            <button type="submit" asp-controller="Browse" asp-action="MovePrevious" class="btn btn-outline-primary"><i class="bi bi-skip-backward"></i></button>
        </div>
        <div class="col-auto">
            <input asp-for="RangeExpression" class="form-control" style="width: 12rem" />
        </div>
        <div class="col-auto">
            <button type="submit" asp-controller="Browse" asp-action="Update" class="btn btn-primary">View</button>
            <button type="submit" asp-controller="Browse" asp-action="MoveNext" class="btn btn-outline-primary"><i class="bi bi-skip-forward"></i></button>
            <button type="submit" asp-controller="Browse" asp-action="ExtendNext" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i></button>
        </div>
    </div>
}
@if (Model.TextData != null)
{
    <hr class="m-0 p-0 mb-2" />

    var currentBook = (BookData?)null;
    var currentChapter = (byte)0;

    foreach (var verse in Model.TextData.Verses)
    {
        if (currentBook == null || currentBook != verse.Bookmark.Book)
        {
            currentBook = verse.Bookmark.Book;
            currentChapter = 0;

            <h5>@verse.Bookmark.FormattedBook</h5>
        }
        if (currentChapter == 0 || currentChapter != verse.Bookmark.Chapter)
        {
            currentChapter = verse.Bookmark.Chapter;

            <h6>Chapter @currentChapter</h6>
        }
        <p class="fs-5 serif">
            <span>@verse.Bookmark.Verse</span>
            @foreach (var word in verse.Words)
            {
                <a asp-controller="Lookup" asp-action="Index" asp-route-strongs="@word.StrongsNumber" asp-route-gk="@word.GkNumber" class="link-underline link-dark link-underline-opacity-0 link-underline-opacity-100-hover">@word.Word</a>
            }
        </p>
    }
}
@section Scripts
{
    <script type="text/javascript" language="javascript">
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
}