@using BibleCore.Service.Data
@using BibleWeb.Models
@model VerbClassificationModel
@{
    ViewData["Title"] = "Verb Paradigms";
    Span<MoodData> moods = Enum.GetValues<MoodData>();
    Span<TenseData> tenses = Enum.GetValues<TenseData>();
    Span<VoiceData> voices = Enum.GetValues<VoiceData>();
}
@foreach (var category in Model.Categories)
{
    <section id="@category.Inflection.Anchor" style="break-after: page;">
        <h3 class="fs-4">@category.Inflection.Description</h3>
        <table class="table table-sm table-bordered w-auto">
            <thead>
                <tr class="table-primary">
                    <th>Aug/Redup</th>
                    <th>Tense Stem</th>
                    <th>Tense Formative</th>
                    <th>Connecting Vowel</th>
                    <th>Personal Endings</th>
                    @if (category.Inflection.PersonalEnding != PersonalEndingData.None)
                    {
                        <th>1P-S</th>
                        <th>2P-S</th>
                        <th>3P-S</th>
                        <th>1P-P</th>
                        <th>2P-P</th>
                        <th>3P-P</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@category.Inflection.Augment</td>
                    <td>@Format.TenseStem(category.Inflection.TenseStem)</td>
                    <td>@category.Inflection.TenseFormative</td>
                    <td>@category.Inflection.ConnectingVowel</td>
                    <td>@Format.PersonalEnding(category.Inflection.PersonalEnding)</td>
                    @if (category.Inflection.PersonalEnding != PersonalEndingData.None)
                    {
                        var endings = Format.PersonalEndings(category.Inflection.PersonalEnding);
                        <td>@endings[0]</td>
                        <td>@endings[1]</td>
                        <td>@endings[2]</td>
                        <td>@endings[3]</td>
                        <td>@endings[4]</td>
                        <td>@endings[5]</td>
                    }
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <thead>
                <tr class="table-primary">
                    <th>Category</th>
                    <th>Citation</th>
                    <th>Tense Stem</th>
                    <th>Morphology</th>
                    <th>Strongs</th>
                    <th>1st Singular</th>
                    <th>2nd Singular</th>
                    <th>3rd Singular</th>
                    <th>1st Plural</th>
                    <th>2nd Plural</th>
                    <th>3rd Plural</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entry in category.Entries)
                {
                    <tr>
                        <td>@entry.MorphologyCategory</td>
                        <td class="serif">@entry.Citation</td>
                        <td class="serif">@entry.Root</td>
                        <td>@entry.Morphology</td>
                        <td>@entry.Strongs</td>
                        <td class="serif">@Html.Raw(Format.Concatenate(entry.FirstPersonSingular))</td>
                        <td class="serif">@Html.Raw(Format.Concatenate(entry.SecondPersonSingular))</td>
                        <td class="serif">@Html.Raw(Format.Concatenate(entry.ThirdPersonSingular))</td>
                        <td class="serif">@Html.Raw(Format.Concatenate(entry.FirstPersonPlural))</td>
                        <td class="serif">@Html.Raw(Format.Concatenate(entry.SecondPersonPlural))</td>
                        <td class="serif">@Html.Raw(Format.Concatenate(entry.ThirdPersonPlural))</td>
                    </tr>

                }
            </tbody>
        </table>
    </section>
}