@using BibleCore.Service.Data
@using BibleWeb.Models
@model VerbListModel
@{
    ViewData["Title"] = "Lookup";
    Layout = "_Excel";
}
<h1>@Model.Mood.ToString() - @Model.Tense.ToString() - @Model.Voice.ToString()</h1>
<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>Citation</th>
            <th>Roots</th>
            <th>Morphology</th>
            <th>Strongs</th>
            <th>1st Singular</th>
            <th>2nd Singular</th>
            <th>3rd Singular</th>
            <th>1st Plural</th>
            <th>2nd Plural</th>
            <th>3rd Plural</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var verb in Model.Verbs)
        {
            foreach (var tense in verb.Tenses)
            {
                if (tense.Inflection.Mood == Model.Mood
                && tense.Inflection.Tense == Model.Tense
                && tense.Inflection.Voice == Model.Voice)
                {
                    bool needBreak = false;

                    <tr>
                        <td>@verb.Citation</td>
                        <td>@verb.Root</td>
                        <td>@verb.Morphology</td>
                        <td>@verb.Strongs</td>
                        <td>
                            @{
                                needBreak = false;
                                foreach (var form in tense.FirstPersonSingular)
                                {
                                    if (needBreak)
                                    {
                                        <br />
                                    }
                                    needBreak = true;
                                    <span class="fs-5 serif">@form.InflectedForm</span>

                                }
                            }
                        </td>
                        <td>
                            @{
                                needBreak = false;
                                foreach (var form in tense.SecondPersonSingular)
                                {
                                    if (needBreak)
                                    {
                                        <br />
                                    }
                                    needBreak = true;
                                    <span class="fs-5 serif">@form.InflectedForm</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                needBreak = false;
                                foreach (var form in tense.ThirdPersonSingular)
                                {
                                    if (needBreak)
                                    {
                                        <br />
                                    }
                                    needBreak = true;
                                    <span class="fs-5 serif">@form.InflectedForm</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                needBreak = false;
                                @foreach (var form in tense.FirstPersonPlural)
                                {
                                    if (needBreak)
                                    {
                                        <br />
                                    }
                                    needBreak = true;
                                    <span class="fs-5 serif">@form.InflectedForm</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                needBreak = false;
                                foreach (var form in tense.SecondPersonPlural)
                                {
                                    if (needBreak)
                                    {
                                        <br />
                                    }
                                    needBreak = true;
                                    <span class="fs-5 serif">@form.InflectedForm</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                needBreak = false;
                                foreach (var form in tense.ThirdPersonPlural)
                                {
                                    if (needBreak)
                                    {
                                        <br />
                                    }
                                    needBreak = true;
                                    <span class="fs-5 serif">@form.InflectedForm</span>
                                }
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>