@using BibleCore.Service.Data
@using BibleWeb.Models
@model VerbClassificationModel
@{
    ViewData["Title"] = "Lookup";
    Layout = "_Excel";
    Span<MoodData> moods = Enum.GetValues<MoodData>();
    Span<TenseData> tenses = Enum.GetValues<TenseData>();
    Span<VoiceData> voices = Enum.GetValues<VoiceData>();
}
@foreach (var category in Model.Categories)
{
    var citations = category.Entries.Keys.Order().ToList();

    <h1>@category.Mood - @category.Tense - @category.Voice</h1>
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Citation</th>
                <th>Root</th>
                <th>Morphology</th>
                <th>Strongs</th>
                <th>1st Singular</th>
                <th>2nd Singular</th>
                <th>3rd Singular</th>
                <th>1st Plural</th>
                <th>2nd Plural</th>
                <th>3rd Plural</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var citation in citations)
            {
                var entry = category.Entries[citation];
                <tr>
                    <td>@entry.Citation</td>
                    <td>@entry.Root</td>
                    <td>@entry.Morphology</td>
                    <td>@entry.Strongs</td>
                    <td>@Html.Raw(Format.Concatenate(entry.FirstPersonSingular))</td>
                    <td>@Html.Raw(Format.Concatenate(entry.SecondPersonSingular))</td>
                    <td>@Html.Raw(Format.Concatenate(entry.ThirdPersonSingular))</td>
                    <td>@Html.Raw(Format.Concatenate(entry.FirstPersonPlural))</td>
                    <td>@Html.Raw(Format.Concatenate(entry.SecondPersonPlural))</td>
                    <td>@Html.Raw(Format.Concatenate(entry.ThirdPersonPlural))</td>
                </tr>

            }
        </tbody>
    </table>
}