@using BibleCore.Service.Data
@using BibleWebApi.Models
@model BrowseModel
@{
    ViewData["Title"] = "Browse";
}
<h2>Read</h2>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-primary" role="alert">
        @Model.Message
    </div>
}
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="row mb-3">
        <label asp-for="RangeExpression" class="col-auto col-form-label">Scripture passage:</label>
        <div class="col-auto">
            <input type="submit" asp-controller="Browse" asp-action="Update" hidden />
            <input asp-for="RangeExpression" class="form-control ctrl-range" style="width: 12em" />
        </div>
        <div class="col-auto">
            <button type="submit" asp-controller="Browse" asp-action="Update" class="btn btn-primary">Lookup</button>
            <button type="submit" asp-controller="Browse" asp-action="Practice" class="btn btn-primary">Practice</button>
        </div>
    </div>

    if (Model.TextData != null)
    {
        <hr class="py-1 my-1" />

        <div class="row mb-2 d-print-none">
            <div class="col-auto">
                <button type="submit" asp-controller="Browse" asp-action="MovePrevious" class="btn btn-outline-dark"><i class="bi bi-arrow-up"></i> Move</button>
                <button type="submit" asp-controller="Browse" asp-action="ExtendPrevious" class="btn btn-outline-dark"><i class="bi bi-plus-lg"></i> Extend</button>
            </div>
        </div>

        var currentBook = (BookData?)null;
        var currentChapter = (byte)0;

        foreach (var verse in Model.TextData.Verses)
        {
            if (currentBook == null || currentBook != verse.Bookmark.Book)
            {
                currentBook = verse.Bookmark.Book;
                currentChapter = 0;

                <h5>@verse.Bookmark.FormattedBook</h5>
            }
            if (currentChapter == 0 || currentChapter != verse.Bookmark.Chapter)
            {
                currentChapter = verse.Bookmark.Chapter;

                <h6>Chapter @currentChapter</h6>
            }
            <p class="fs-5 serif">
                <span>@verse.Bookmark.Verse</span>
                @foreach (var word in verse.Words)
                {
                    <a asp-controller="Lookup" asp-action="Index" asp-route-strongs="@word.StrongsNumber" asp-route-gk="@word.GkNumber" asp-route-range="@Model.RangeExpression" class="link-underline link-dark link-underline-opacity-0 link-underline-opacity-100-hover">@word.Word</a>
                }
            </p>
        }

        <hr />

        foreach (var verse in Model.TextData.Verses)
        {
            if (currentBook == null || currentBook != verse.Bookmark.Book)
            {
                currentBook = verse.Bookmark.Book;
                currentChapter = 0;

                <h5>@verse.Bookmark.FormattedBook</h5>
            }
            if (currentChapter == 0 || currentChapter != verse.Bookmark.Chapter)
            {
                currentChapter = verse.Bookmark.Chapter;

                <h6>Chapter @currentChapter</h6>
            }
            <p class="fs-5 serif">
                <span>@verse.Bookmark.Verse</span>
                @foreach (var word in verse.Words)
                {
                    <a asp-controller="Lookup" asp-action="Index" asp-route-strongs="@word.StrongsNumber" asp-route-gk="@word.GkNumber" asp-route-range="@Model.RangeExpression" class="link-underline link-dark link-underline-opacity-0 link-underline-opacity-100-hover">@word.Transliteration</a>
                }
            </p>
        }

        <div class="row mb-2 d-print-none">
            <div class="col-auto">
                <button type="submit" asp-controller="Browse" asp-action="MoveNext" class="btn btn-outline-dark"><i class="bi bi-arrow-down"></i> Move</button>
                <button type="submit" asp-controller="Browse" asp-action="ExtendNext" class="btn btn-outline-dark"><i class="bi bi-plus-lg"></i> Extend</button>
            </div>
        </div>

        <hr class="py-1 my-1" />

        foreach (var verse in Model.TextData.Verses)
        {
            foreach (var note in verse.Notes)
            {
                <p class="serif">
                    @note.Note
                </p>
            }
        }
    }
}
@section Scripts
{
    <script type="text/javascript" language="javascript">
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
}