@using BibleWeb.Models
@model BrowseModel
@{
    ViewData["Title"] = "Browse";
}
<h2>Read - Worksheet Key</h2>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-primary" role="alert">
        @Model.Message
    </div>
}
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="row mb-3">
        <label asp-for="RangeExpression" class="col-auto col-form-label">Scripture passage:</label>
        <div class="col-auto">
            <input asp-for="RangeExpression" class="form-control ctrl-range" style="width: 12em" />
        </div>
        <div class="col-auto">
            <button type="submit" asp-controller="Browse" asp-action="Key" class="btn btn-primary">Update</button>
            <button type="submit" asp-controller="Browse" asp-action="Worksheet" class="btn btn-primary">Worksheet</button>
            <button type="submit" asp-controller="Browse" asp-action="Update" class="btn btn-primary">Read</button>
        </div>
    </div>

    if (Model.TextData != null)
    {
        int wordCount = 0;
        foreach (var verse in Model.TextData.Verses)
        {
            wordCount += verse.Words.Length;
        }
        bool isFirstRow = true;

        <table class="table table-sm table-bordered worksheet">
            <thead>
                <tr class="table-primary">
                    <th scope="col" class="col-1">Part of Speech</th>
                    <th scope="col" class="col-3">Inflection</th>
                    <th scope="col" class="col-3">Gloss</th>
                    <th scope="col" class="col-1">Word</th>
                    <th scope="col" class="col-1">Strongs</th>
                    <th scope="col" class="col-3">Diagram</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var verse in Model.TextData.Verses)
                {
                    foreach (var word in verse.Words)
                    {
                        <tr>
                            <td>
                                @Format.PartOfSpeech(word.PartOfSpeech)
                            </td>
                            <td>
                                @Format.Inflection(word.Inflection)
                            </td>
                            <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;">
                                @word.Gloss
                            </td>
                            <td class="fs-5 serif">
                                @word.Word
                            </td>
                            <td>
                                @word.StrongsNumber
                            </td>
                            @if (isFirstRow)
                            {
                                <td rowspan="@wordCount">
                                    <div style="width:15em;">&nbsp;</div>
                                </td>
                                isFirstRow = false;
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}
@section Scripts
{
    <script type="text/javascript" language="javascript">
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
}